In [2]:
import pandas as pd
import numpy as np

In [3]:

# Load MASTERSHEET

df = pd.read_csv("F:\\github\\doon_pet_survey\\MASTERSHEET.csv")
print('no of rows in dataframe is', len(df))

## add an index column (to offset for column numbers as per excel)
df.insert(loc=0, column='index', value=range(len(df)))

## filter by column 'consent' == 'Yes'
df1 = df.loc[df["consent"] == 'Yes']
print('no of responses with consent is', len(df1))

## filter by column 'have_pets' != 'No'
df2 = df1.loc[df["have_pets"] != 'No']
print('no of responses with pets is',len(df2))

# Cats dataframe
## filter by column 'kind_of_pets' != 'Dog(s)'
cats = df2.loc[df["kind_of_pets"]!='Dog(s)']
print('no of responses with cats or cats and dogs both is',len(cats))

# Dogs ONLY dataframe
## filter by column 'kind_of_pets' != 'Cat(s)'
dogs = df2.loc[df["kind_of_pets"]!='Cat(s)']
print('no of responses with dogs or cats and dogs both is',len(dogs))

no of rows in dataframe is 342
no of responses with consent is 332
no of responses with pets is 277
no of responses with cats or cats and dogs both is 71
no of responses with dogs or cats and dogs both is 225

In [ ]:
# create the following combine columns:

## cat_age
## cat_sex
## cat_neutered
## cat_feed
## cat_feed_freq
## cat_time_out
## cat_stay
## cat_hunt
## cat_hunt_freq
## cat_time

In [164]:
def col_combin (df, col_suffix, pet):
    # df: Enter name of the dataframe
    # col_suffix: Enter the suffix of the column to combine
    # pet: Enter which pet - dog or cat 
    
    col_filter1 = df.filter(like = col_suffix)
    col_filter2 = col_filter1.filter(like = pet)
    
    col_to_drop = col_filter2.columns[col_filter2.columns.str.contains('comment')]
    col_filter3 = col_filter2.drop(col_to_drop, axis=1)
    
    columns_to_concat = [col_filter3[col] for col in col_filter3.columns]
    result = pd.concat(columns_to_concat, axis=0)
    return result

age = col_combin(cats, 'age', 'cat')
type(age)

pandas.core.series.Series

In [228]:

columns_list = ['age', 'sex']
#, 'sex', 'neutered', 'feed', 'feed_freq', 'time_out', 'stay', 'hunt', 'hunt_freq', 'time']

def col_combin (df, col_suffix_list, pet):
    # df: Enter name of the dataframe
    # col_suffix_list: Enter the suffix of the column to combine
    # pet: Enter which pet - dog or cat 
    
    #Filter by type of pet
    col_filter1 = df.filter(like = pet)
    
    #Drop comment columns
    col_to_drop = col_filter1.columns[col_filter1.columns.str.contains('comment')]
    col_filter2 = col_filter1.drop(col_to_drop,axis =1)
    
    #define empty list
    #result = pd.DataFrame(df['row_ids']
    result = []
    #result = pd.concat([df['row_ids']] * 5, ignore_index=True)
    #result = pd.concat([df['row_ids'], col_filter2], axis=1)
    
    #filter by col_suffix_list
    for i in col_suffix_list:
        col_filter3 = col_filter2.filter(like = i)
        columns_to_concat = [col_filter3[col] for col in col_filter3.columns]
        res = pd.concat(columns_to_concat, axis=0)
        result.append(res)
        
    return result

list_f=col_combin(cats, columns_list, 'cat')
#type(list_f)
type(list_f[0])

pandas.core.series.Series

In [184]:

columns_list = ['age', 'sex', 'neutered', 'feed', 'feed_freq', 
                'time_out', 'stay', 'hunt', 'hunt_freq', 'time']
pet='cat'
df= cats


#Filter by type of pet
col_filter1 = df.filter(like = pet)

#Drop comment columns
col_to_drop1 = col_filter1.columns[col_filter1.columns.str.contains('comment')]
col_filter2 = col_filter1.drop(col_to_drop1,axis =1)   


col_filter3 = pd.concat( [cats['row_ids'], col_filter2] , axis=1)
col_to_drop2 = col_filter3.columns[~col_filter3.columns.str.contains(columns_list[0])]
col_filter4 = col_filter3.drop(col_to_drop2 , axis = 1)

result= cats['row_ids']
col_filter5 = pd.concat( [result, col_filter4] , axis=1)

col_filter6 = pd.concat( [col_filter5 , cats['cat2_sex']] , axis=1)
col_filter6

,row_ids,cat1_age,cat2_age,cat3_age,cat4_age,cat5_age,cat2_sex
5,aditi_6,Junior (7 months - 2 years),NaN,NaN,NaN,NaN,NaN
14,aditi_15,Junior (7 months - 2 years),Adult (3-6 years),NaN,NaN,Junior (7 months - 2 years),Female
37,aditi_38,Adult (3-6 years),NaN,NaN,NaN,NaN,NaN
41,aditi_42,Junior (7 months - 2 years),NaN,NaN,NaN,NaN,NaN
46,aditi_47,Adult (3-6 years),NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
322,hindi_20,Kitten (0-6 months),NaN,NaN,NaN,NaN,NaN
327,hindi_25,Junior (7 months - 2 years),NaN,NaN,NaN,NaN,NaN
332,hindi_30,Kitten (0-6 months),Kitten (0-6 months),Kitten (0-6 months),Kitten (0-6 months),Junior (7 months - 2 years),Female
333,hindi_31,Kitten (0-6 months),NaN,NaN,NaN,NaN,NaN
335,hindi_33,Kitten (0-6 months),Kitten (0-6 months),NaN,NaN,NaN,Male

In [ ]:
 
 
#define empty list
result = pd.DataFrame(df['row_ids'])
# result = []
#result = pd.concat([df['row_ids']] * 5, ignore_index=True)
#result = pd.concat([df['row_ids'], col_filter2], axis=1)
    
    #filter by col_suffix_list
for i in col_suffix_list:
    col_filter3 = col_filter2.filter(like = i)
    columns_to_concat = [col_filter3[col] for col in col_filter3.columns]
    #result = pd.concat(columns_to_concat, axis=0)
    #result = pd.concat([result, concat_column] ,axis =1)

In [165]:
a = []
a = cats['row_ids']
a = pd.concat([a, cats['cat1_age']] ,axis=1)

#a=pd.Series(np.arange(0,5))
#a=pd.concat([a, pd.Series(np.arange(4,5))] , axis=1)
#a.to_csv('file_name.csv', sep=',')
#print(len(cats))
#print(a)

71
      row_ids                     cat1_age
5     aditi_6  Junior (7 months - 2 years)
14   aditi_15  Junior (7 months - 2 years)
37   aditi_38            Adult (3-6 years)
41   aditi_42  Junior (7 months - 2 years)
46   aditi_47            Adult (3-6 years)
..        ...                          ...
322  hindi_20          Kitten (0-6 months)
327  hindi_25  Junior (7 months - 2 years)
332  hindi_30          Kitten (0-6 months)
333  hindi_31          Kitten (0-6 months)
335  hindi_33          Kitten (0-6 months)

[71 rows x 2 columns]